@media screen and (min-width: 768px)
{
	body
	{
		margin: 0 auto;
		max-width: 1200px;
	}
	aside
	{
		width: 300px;
		z-index: 1;	
	}
	div #video
	{
		position: relative;
		left: 0px;
		right: 0px;
	}
	div #registrate
	{
		display: block;
	}
	div #recentpost
	{
		display: block;
		border-top: 2px;
	}

	#bienvenida
	{
		background: #EFEFEF;
		display: block;
		float: right;
		margin: 0 1em;
		padding: 0.5em;
	}
	#bienvenida h2
	{
		color: #434343;
	}
	#bienvenida #actividad
	{
		background: #CC6666;
		color: white;
		display: block;
		font-size: 1.2em;
		padding: 0.2em 0.5em;
		text-align: center;
		text-decoration: none;
	}
	#registrate
	{
		margin: 0 1em 0 1em;
	}
	#registrate #mensaje_registro
	{
		color: #aaa;
		font-size: 0.8em;
		text-align: center;
	}
	#registrate #registro
	{
		background: #22BCE0;
		border-radius: 0.2em;
		-moz-box-shadow: 5px 5px 5px #878787;
		-ms-box-shadow: 5px 5px 5px #878787;
		-webkit-box-shadow: 5px 5px 5px #878787;
		box-shadow: 5px 5px 5px #878787;
		color: white;
		display: block;
		font-size: 1.2em;
		padding: 0.2em 0.5em;
		text-align: center;
		text-decoration: none;
	}
	
	#contenido .item:first-of-type
	{
		width: 100%;
	}
	#recentpost
	{
		border-top: 2px #aaa solid; 
		padding-top: 2em;
	}
	#recentpost .noticias
	{
		border-bottom: 1px #aaa solid;
	}
	#recentpost .noticias p
	{
		display: inline;
	}
	#recentpost .noticias .contador
	{
		background: #CC6666;
		border-radius: 0.2em;
		color: white;
		float: left;
		margin: 1em;
		position: relative;
		padding: 0.2em 0.5em;
		text-decoration: none;
	}
	#recentpost .noticias .contador:after
	{
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #CC6666;
		content: "";
		right: 5px;
		position: absolute;
		top:100%;
	}
}